
<div class="header-left-col">
  <div class="header-logo flex">
    <img src="resources/images/header-logo.png" alt="logo">
    <p>Единый <br> Сертификационный Центр <br> Таможенного Союза</p>
  </div>
  <p>Орган по сертификации ISO</p>
</div>

<div class="header-central-col flex">
  <p>Аккредитация № <b> РОСС RU.31331.04ЖОЭ1</b></p>
  <p><a href="#">—   Как проверить?</a> </p>

</div>

<div class="header-rght-col flex">
  <p>Телефон <span class="yellow tel">8 800 200 00 00</span><span> —  24 часа в сутки</span></p>
  <p>Почта <span class="yellow"><b> <a href="#">info@escts.ru</b></a></span></p>

</div>
