
        <h4 class="screen-16-header center">ИЛИ ПРИЕХАТЬ В НАШ ОФИС</h4>
        	<div class="flex">
            <div class="screen-16-left-col">
                <div class="screen-16-left-col_items">
                  <p class="screen-16-left-col_header yellow text-uppercase">адрес</p>
                  <p >г.Москва 2­я ул.Машиностроения д.27 с.6 <br>(до приезда необходимо заказть пропуск)</p>
                </div>
                <div class="screen-16-left-col_items">
                  <p class="screen-16-left-col_header yellow text-uppercase">График работы</p>
                  <p >пн­-пт с 9­00 до 18­00</p>
                </div>
                <div class="screen-16-left-col_items">
                  <p class="screen-16-left-col_header yellow text-uppercase">Отдел качества</p>
                  <p>Если Вы недовольны качеством обслуживания <br>или у Вас есть предложения по улучшению <br> сервиса, просьба написать нам на эту почту
                    <a href="#">quality@escts.ru</a></p>
                </div>
                <div class="screen-16-left-col_items">
                  <p class="screen-16-left-col_header yellow text-uppercase">Наши реквизиты</p>
                  <p>ООО "ЕСЦТС"</p>
                  <p>ИНН 1232456677</p>
                  <p>КПП 123450000</p>
                  <p>р/сч 4048400000000000</p>
                  <p>в Альфа­банк г.Москва</p>
                </div>
            </div>

            <div class="screen-16-right-col">
              <div class="screen-16-right-col-row flex">
                <div class="screen-16-right-col_img screen16-lens">
                    <img class="test" src="resources/images/screen16-1.png" alt="@@">
                    <img class="screen16-pointer" src="resources/images/pointer.png" alt="@@">
                </div>
                <div class="screen-16-right-col_img screen16-lens">
                  <img src="resources/images/screen16-2.png" alt="@@" >
                </div>
              </div>
              <div id="map" > </div>
              <!-- <div class="screen-16-map" >

              </div> -->
			    </div>
      </div>
