<div class="screen-8-content">
  <h2 class="text-uppercase">Не заказывайте сертификат ISO не разобравшись <br> в следующих моментах</h2>
  <div class="list-item">
    <p class="list_items yellow ">1</p>
    <div class="list_text">
      <p class="screen8-list-header text-uppercase">Как не проиграть тендер из­-за экономии на сертификации ISO</p>
      <p>Все дело в том, что добровольные системы в стране очень слабо контролируются. Но <br> заказчики знают, что большинство поставщиков экономит и покупает в интернете сертификат за 10 тысяч, и поэтому самостоятельно проводят аудит системы менеджмента контрагента. Стоит ли идти на риск потери миллионов, сэкономив на сертификации своего предприятия какие­то несколько тысяч?</p>
    </div>
  </div>
 <div class="list-item">
   <p class="list_items yellow ">2</p>
   <div class="list_text">
    <p class="screen8-list-header text-uppercase">Как не проиграть тендер из­-за экономии на сертификации ISO</p>
    <p>Есть 3 вида: СДС, ГОСТ Р и международные системы (TUV). Если Вам требуется ISO для экспорта и работы с зарубежными контрагентами ­ оформляйте только международный сертификат. Российские добровольные системы будут зарубежом просто недействительны, ввиду малого доверия к ним. Сертификат ГОСТ Р имет смысл заказывать, только если у Вас его требует заказчик на тендере. Во всех остальных случаях вы просто переплачиваете за бланк, т.к юридическая сила абсолютно идентичная СДС. Во всех       остальных случаях самым верным решением будет оформление СДС.</p>
  </div>
</div>
  <div class="list-item">
    <p class="list_items yellow ">3</p>
    <div class="list_text">
      <p class="screen8-list-header text-uppercase">Как сэкономить, если Вам нужен комплект из ISO 9001, ISO 14001 и OHSAS 18001</p>
      <p>В нашей системе есть возможность заказать сертификацию интегрированной системы менеджмента. В данный вариант входит сертификация по всем трем стандартам. За счет оптимизации работы экспертов и совпадения некоторых разделов документации стоимость снижается на 30­40% в сравнении с отдельной сертификацией по каждому из стандартов.</p>
   </div>
 </div>
</div>
