

  <h1 class="text-uppercase yellow center">Оформление сертификата «OHSAS 18001»</h1>
  <h1 class="text-uppercase screen-1_header center">от аккредитованного органа в Cанкт­-Петербурге</h1>
  <p class="center">Гарантия признания сертификата любой организацией прописана в договоре</p>
  <div class="flex screen-1-content">
    <div class="screen-1-left-col">
      <div class="list-item">
        <div class="list-item_img">
          <img src="resources/images/screen1-calendar.png" alt="@@">
        </div>
        <div class="list_text flex">
          <p class="screen-1-list-header text-uppercase">5 лет на рынке</p>
          <p>Орган зарегистрирован 21 сентября 2012г.</p>
          <p>Как проверить?</p>
        </div>
      </div>
     <div class="list-item">
       <div class="list-item_img">
         <img src="resources/images/screen1-car.png" alt="@@">
       </div>
       <div class="list_text flex">
        <p class="screen-1-list-header text-uppercase">Экспресс доставка в руки клиенту по всей РФ</p>
        <p>Работаем с надёжными курьерскими службами.<br> Ни один документ ещё не был потерян.<br> Доставка занимает 1-2 дня.</p>
        <p></p>
      </div>
    </div>
    <div class="list-item">
      <div class="list-item_img">
        <img src="resources/images/screen1-box.png" alt="@@">
      </div>
      <div class="list_text flex">
       <p class="screen-1-list-header text-uppercase">Исчерпывающий пакет документации</p>
       <p>Аттестаты внутренних аудиторов. <br>Разрешение на применение знака. <br>Более 270 страниц технической документации.</p>
       <p>Полный перечень документации</p>
       <img src="" alt="">
     </div>
   </div>
  </div>

   <div class="screen-1-right-col center">
     <p class="screen-1-form_header text-uppercase ">Оставьте заявку</p>
     <p >на подробную консультацию от эксперта по сертификации ISO</p>
     <form class="" action="index.html" method="post">
       <div class="screen-1_form_field flex">
         <img src="resources/images/icon-user-form.png" alt="@@">
         <p>Ваше имя*</p>
         <input type="text" placeholder="Иван Иванович">
       </div>
       <div class="screen-1_form_field flex">
         <img src="resources/images/icon-telefon-form.png" alt="@@">
         <p>Телефон*</p>
         <input type="text" placeholder="8 963 589 85 28">
       </div>
       <button class="yellow-button" type="submit">Получить консультацию эксперта  в течение 5 минут</button>
     </form>
       <p class="form-bottom-text">
         <img src="resources/images/secure-form.png" alt="@@"> Гарантия конфиденциальности <br> ваших данных
       </p>
   </div>
  </div>
