
  <div class="screen-7-content">
  <h2 class="text-uppercase">Рассчитайте стоимость сертификации ISO для Вашей <br> организации самостоятельно в 3 простых шага</h2>

  <div class="flex">
    <div class="screen-7-right-col">
      <div class="">
        <div class="screen-7-right-col_img">
          <img src="resources/images/screen7-book.png" alt="@@">
        </div>
        <div class="screen-7-right-col_text">
          <p>В результате расчета вы получите <b>подробное коммерческое предложение</b>, соoтветствующее вашей ситуации и задачам.</p>
        </div>
      </div>
    </div>

     <div class="screen-7-left-col">

       <!-- step 1  -->
       <form class="screen-7-form ">
         <div class="screen-7-form_step active" data-step="1">
           <p class="text-uppercase screen-7-form-subheader ">шаг <span class="yellow">1</span> из <span class="yellow">3</span></p>
           <p class="screen-7-form-header yellow text-uppercase">КАКОЙ СТАНДАРТ ВАС ИНТЕРЕСУЕТ?</p>
           <ul class="screen-7-form_list">
             <li><label><input type="radio" name="standard" value="standart-1"><p>ISO 9001</p></label></li>
             <li><label><input type="radio" name="standard" value="standart-2"><p>ISO 14001</p></label></li>
             <li><label><input type="radio" name="standard" value="standart-3"><p>ISO 22000 (HACCP)</p></label></li>
             <li><label><input type="radio" name="standard" value="standart-4"><p>OHSAS 18001</p></label></li>
             <li><label><input type="radio" name="standard" value="standart-5"><p>ИСМ (ISO 9001+ISO 14001+OHSAS 18001</p></label></li>
             <li><label><input type="radio" name="standard" value="standart-6"><p>Другой стандарт</p></label><input type="text" placeholder="Напишите какой в этом поле"></li>
           </ul>
           <div class="form-buttons">
             <a href="#" class="yellow-button form-nextbutton">Следующий шаг<img src="resources/images/icon_arrow2.png" alt="@@" width="11"></a>
           </div>
         </div>

         <!-- step 2  -->
         <div class="screen-7-form_step " data-step="2">
           <p class="text-uppercase screen-7-form-subheader">шаг <span class="yellow">2</span> из <span class="yellow">3</span></p>
           <p class="screen-7-form-header yellow text-uppercase">ДЛЯ КАКИХ ЦЕЛЕЙ ТРЕБУЕТСЯ СЕРТИФИКАЦИЯ?</p>
           <ul class="screen-7-form_list">
             <li><label><input type="radio" name="target"><p>Для участия в тендере</p></label></li>
             <li><label><input type="radio" name="target"><p>Для прохождения проверки контролирующими органами или заказчиком</p></label></li>
             <li><label><input type="radio" name="target"><p>Для повышения репутации организации</p></label></li>
             <li><label><input type="radio" name="target"><p>Для выхода на международный рынок</p></label></li>
             <li><label><input type="radio" name="target"><p>Для повышения качества менеджмента в организации</p></label></li>
             <li><label><input type="radio" name="target"><p>Для вступления в СРО</p></label></li>
             <li class="other"><label><input type="radio" name="target"><p>Другая причина</p></label><input type="text" placeholder="Напишите причину"></li>
           </ul>
           <div class="form-buttons">
             <a href="#" class="form-prevbutton">Назад</a>
             <a href="#" class="yellow-button form-nextbutton">Следующий шаг<img src="resources/images/icon_arrow2.png" alt="@@" width="11"></a>
           </div>
         </div>
         <!-- step 3  -->
         <div class="screen-7-form_step " data-step="3">
           <p class="text-uppercase screen-7-form-subheader">шаг <span class="yellow">3</span> из <span class="yellow">3</span></p>
           <p class="screen-7-form-header yellow text-uppercase">КАКАЯ СТЕПЕНЬ ВНЕДРЕНИЯ ТРЕБУЕТСЯ?</p>
           <ul class="screen-7-form_list">
             <li><label><input type="radio" name=""><p>Нужен только сертификат</p></label></li>
             <li><label><input type="radio" name=""><p>Нужен сертификат с комплектом шаблонной документации</p></label></li>
             <li><label><input type="radio" name=""><p>Нужен сертификат с разработанной для нашей организации документацией. Для участия в серьезных тендерах (Газпром, РЖД) или самостоятельного внедрения
                </p></label></li>
             <li><label><input type="radio" name=""><p>Нужна разработка документации и дистанционное внедрение</p></label></li>
             <li><label><input type="radio" name=""><p>Нужно полное внедрение с выездом эксперта, обучением персонала на месте</p></label></li>
             <li><label><input type="radio" name=""><p>Для вступления в СРО</p></label></li>
           </ul>
           <div class="screen7-big-btn center">
            <a href="#" class="yellow-button form-nextbutton ">Сформировать коммерческое предложение</a>
           </div>
         </div>
         <!-- step 4  -->
         <div class="screen-7-form_step" data-step="4">
           <p class="screen-7-form-header yellow text-uppercase">КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ ДЛЯ ВАС ГОТОВО!</p>
           <div class="step-4-form-field">
             <p>На чье имя высылать КП</p>
             <input class= "form-input" type="text" placeholder="Ф.И.О лица принимающего решение">
          </div>
          <div class="step-4-form-field">
             <p>Для какой компании?</p>
             <input class= "form-input" type="text" placeholder="Название компании">
          </div>
          <div class="step-4-form-field">
             <p>На какую почту выслать КП?</p>
             <input class= "form-input" type="text" placeholder="Ваш e­mail адрес">
          </div>
           <div class="screen7-big-btn center">
            <a href="#" class="yellow-button form-nextbutton ">Отправить <br> КП на эл. почту</a>
           </div>
         </div>
         <!-- step 5  -->
         <div class="screen-7-form_step" data-step="5">
           <p class="screen-7-form-header yellow text-uppercase center">ОДИН МОМЕНТ!</p>
           <div class="step-5-form-field">
             <p>Укажите телефон для связи</p>
             <input class= "form-input" type="tel" name="tel" placeholder="8 963 589 85 28">
          </div>
          <p class="screen-7-form-header text-uppercase">Почему мы не отправляем КП без телефона?</p>
          <p class="step-5-text">Потому, что необходимо лично убедиться, что именно этот документ  Вам нужен и рассказать о нюансах, которые трудно донести в коммерческом предложении</p>
          <div class="screen7-big-btn center">
           <a href="#" class="yellow-button form-nextbutton ">Да отправляйте уже!</a>
          </div>
        </div>
        <!-- step 6  -->
        <div class="screen-7-form_step" data-step="6">
          <p class="screen-7-form-header text-uppercase ">СПАСИБО ЗА ВАШ ОСНОВАТЕЛЬНЫЙ <br> ПОДХОД К ДЕЛУ!</p>
          <p class="screen-7-form-header yellow text-uppercase ">ЧЕРЕЗ 5­-10 МИНУТ ПРОВЕРЬТЕ ВАШУ ПОЧТУ</p>
          <p class="step-5-text">По статистике, эту надпись видят только самые ответственные и добросовестные люди. Через 10 минут Вам на почту придет наше коммерческое предложение. А пока Вы можете узнать на нашем сайте:</p>
          <div class="step6-link">
            <p class="step-5-text yellow"><a href="#">Как проверить легальность сертификата</a></p>
            <p class="step-5-text yellow"><a href="#">Как выдаваемые сертификаты защищены от подделок</a></p>
            <p class="step-5-text yellow"><a href="#">Более 50 отзывов от клиентов за 2016 год</a></p>
          </div>

       </div>
       </form>

     </div>
  </div>
 </div>
