

  body{
  	color:#fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
  }

.yellow {
  color: #feee98;
}
.text-uppercase {
  text-transform: uppercase;
}
p {margin: 0;}
a {
  text-decoration: none;
  color: inherit;
}
button {font: inherit}
input{
  outline:none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
}

.flex { display: inline-flex; }
.center {text-align: center;}

.container {
  display: block;
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 120px;
  padding-left: 50px;
  padding-right: 70px;
  padding-top: 25px;
  font-size: 18px;
}
.header-left-col {
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.header-logo {
  align-items: center;

  img {
    padding-right: 15px;
  }
  p {
    padding-left: 10px;
    border-left: 1px solid rgba(102, 111, 120, 0.47);
  }

   + p {
    letter-spacing: 0.24em;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 300;
  }
}
.header-central-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-central-col p {
  margin-bottom: 23px;
}
.header a {
  font-style: italic;
  border-bottom: 1px solid rgba(102, 111, 120, 0.47);
  padding-bottom: 6px;
}

.header-rght-col {
  flex-direction: column;
  justify-content: center;
  font-style: italic;

  .tel {
    font-size: 25px;
  }

  span {
    font-style: normal;
    font-weight: 500;
  }

  p {
    margin-bottom: 23px;
  }
  p:last-child {
    padding-left: 20px;
  }

}
.screen-1 {
  background: url(../resources/images/bg-screen1.png)no-repeat;
	background-size: cover;
}
.sprites { background: url(../resources/images/sprites.png) no-repeat; }
.screen1-box { width: 77px; height: 53px; background-position: 20px 0; }
.screen1-calendar { width: 77px; height: 50px; background-position: 20px -54px; }
.screen1-car { width: 77px; height: 50px; background-position: 20px -105px; }

.screen-2 {
  background: url(../resources/images/bg-screen2.png)no-repeat;
	background-size: cover;
}
.white-block {
  background-color: #fff;
  border-radius: 3px;
  color: #0b2d52;
}
.screen-2-content {
  padding-top: 100px;
  padding-left: 55px;
}
.screen-2-right-col {
  max-width: 950px;
  padding-top: 25px;
}
.screen-2 .list_text{
  padding-left: 20px;
  margin-bottom: 25px;
}

.list-item_img {
  padding-top: 25px;
}

.screen2-list-header {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  line-height: 24.58px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}
.screen-2-video {
  padding-left: 65px;
  padding-top: 20px;
  max-width: 485px;
}
.wrapper-video {
  height: 290px;
}
.screen-2-video p {
  display: flex;
  font-family: 'PFDINTEXTCOMPPRO-REGULAR';
  font-size: 28px;
  letter-spacing: 0.025em;
  line-height: 39px;
  background-color: rgba(255,255,255,0.2);
  min-height: 145px;
  align-items: center;
  padding-left: 50px;
}
.screen-7 {
  background: url(../resources/images/bg-screen7.jpg)no-repeat;
	background-size: cover;
  height: 1080px;
}
.screen-7-content {
  padding-left: 60px;

   h2 {
     padding-bottom: 50px;
     line-height: 65px;
   }
}
.screen-7-content .flex {
  flex-wrap: wrap;
  justify-content: space-between;
}
.screen-7-right-col {
  width: 23%;

  &_text {
    letter-spacing:  0.025em;
    font-weight: 300;
    line-height: 30px;
    padding-top: 65px;
  }
}

.screen-7-form {
   width: 1052px;


  &_step {
    display: none;
    min-height: 580px;
    padding-left: 50px;
    padding-top: 65px;
    border: 1px solid #fff;
    border-radius: 5px;

  }

  &-header {
    font-family: 'PFDINTEXTCOMPPRO-MEDIUM';
    font-size: 30px;
    letter-spacing:  0.075em;
    padding-top: 10px;
  }

  &-subheader {
    font-size: 18px;
    line-height: 27px;
    letter-spacing:  0.1em;
  }
   span {
     font-family: 'PFDINTEXTCOMPPRO-MEDIUM';
     font-size: 30px;
   }

   &_list {

     label {
       display: flex;
     }

     input {
       flex-shrink: 0;
       margin-top: 3px;
     }

     p {
       padding-left: 20px;
       padding-bottom: 20px;
       font-size: 20px;
       line-height: 24px;
       letter-spacing:  0.025em;
     }

     input:last-child {
       width: 350px;
       margin-left: 10px;
       padding-left: 10px;
       background-color: transparent;
       border: 1px solid #fff;
       border-radius: 2px;
       font-size: 15px;
       font-style: italic;
       line-height: 38px;
       letter-spacing:  0.025em;
     }
   }
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.form-prevbutton {
  border: 1px solid #fff;
  width: 125px;
  padding-top: 12px;
  text-align: center;
  letter-spacing:  0.025em;
  font-size: 18px;
}
.screen7-big-btn {
  margin-top: 65px;
  display: flex;
  justify-content: center;

}
.screen7-big-btn .yellow-button {
  font-size: 22px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  min-height: 83px;
}
.step-4-form-field, .step-5-form-field {
  display: flex;
  align-items: center;
  margin-top: 15px;

  p {
    width: 32%;
    font-size: 19px;
    font-weight: 400;
  }

}
.screen-7-form_step[data-step="4"] > p {
  margin-bottom: 45px;
}
.form-input {
  width: 42%;
  background-color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.0035em;
  color: black;
  opacity: 0.87;
  height: 65px;
  border-radius: 5px;
  padding-left: 10px;
}
.step-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-5-form-field  {
  padding-top: 50px;
  padding-bottom: 50px;
}
.step-5-text {
  padding-top: 28px;
  padding-right: 175px;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.045px;

}
.screen-7-form_step[data-step="6"] .screen-7-form-header:first-child {
  font-size: 38px;
}

//to do
.screen-7-form_step[data-step="6"] .screen-7-form-header:nth-child(2){
  font-size: 36px;
}
.step6-link {
  padding-top: 70px;
}
.step6-link .step-5-text {
  padding-top: 15px;
}
.step6-link a {
  border-bottom: 1px solid rgba(254, 238, 152, 0.37);
  padding-bottom: 8px;
}
.active {
  display: block;
}
.screen-8 {
  background: url(../resources/images/bg-screen8.png)no-repeat;
	background-size: cover;
}
.screen-8-content {
  max-width: 1115px;
  padding-left: 60px;
}
.screen8-list-header {
  font-family: 'PFDINTEXTCOMPPRO-MEDIUM';
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* TO DO
.list_text p:last-child{
    max-width: 740px;
}*/
.list-item {
  display: inline-flex;
  padding-bottom: 35px;
}
.list_items {
  position: relative;
  font-family: 'PFDINTEXTCOMPPRO-REGULAR';
  font-size: 80px;
  line-height: 71.75px;
  padding-left: 40px;
  margin-top: 0px;
}
.list_text {
  padding-left: 75px;
  line-height: 29px;
  max-width: 895px
}

.list_items::before {
  content: "#";
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 35px;
}

//video

.wrapper-video {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: rgba(255,255,255,0.2);
  &43 {
    padding-top: 75%;
  }
  &169 {
    padding-top: 56%;
  }
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: url(../resources/images/screen2-video.png)no-repeat;
  width:485px;
  height: 290px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;

  &:hover,
  &:focus {
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .videoWrapperActive & {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
}


.screen-16 {
    background: url(../resources/images/bg-screen16.png) no-repeat;
    background-size: cover;
    padding-bottom: 40px;

  &-header {
    font-size: 45px;
    letter-spacing: 0.05em;
    font-family: "PFDINTEXTCOMPPRO-REGULAR";
    font-weight:400;
    }
  &-left-col {
    width: 38%;
    padding:10px 50px 0 80px;

     &_items {
       margin-bottom: 40px;
       font-size: 18px;
       margin-top: 5px;
       line-height: 23px;
     }

     &_header {
       letter-spacing: 0.1em;
       font-family: "PFDINTEXTCOMPPRO-REGULAR";
       font-weight:400;
       font-size: 20px;
       padding-bottom: 15px;
     }
  }

  &-right-col {
    width: 62%;
    max-width: 800px;
    padding-top: 35px;
    font-size: 0px;
    padding-right: 80px;
    padding-bottom: 50px;

    &-row {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &_img {
      position: relative;

    img {
      border-radius: 5px;
    }
  }
}
}

.screen16-lens {
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        position: absolute;
        top: 0px;
        left:0px;
        border-radius: 5px;
      }

    &:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0px;
      left:0px;
      opacity: 0.77;
    }

    &-hide:hover::before {
      opacity: 0;
    }
  }
  .screen16-lens::after {
    content: url(../resources/images/lens.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 38%;
    left:42%;
    opacity: 0;
  }

  .screen16-lens:hover::after {
    content: url(../resources/images/lens.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 38%;
    left:42%;
    opacity: 1;
  }
  .screen16-lens-hide:hover::after {
    content:"";
  }

  .screen16-pointer {
    max-width: 16%;
    position: absolute;
    bottom: -27px;
    right:40px;
  }

  .big-img {
    transform: scale(2,2);
    z-index: 100;
  }

  .screen-16-map {
    width: 100% ;
    height: 420px;
    border-radius: 5px;
  }

#map {
  width: 800px ;
  max-width: 100%;
  height: 420px;
}

#map > ymaps {
border-radius: 5px;
overflow: hidden;
}

.screen-11 {
  height: 1080px;
}

.screen-11 {
    background: url(../resources/images/bg-screen11.png) no-repeat;
    background-size: cover; }

  .screen-11-header {
    letter-spacing: 0.075em;
    font-family: "PFDINTEXTCOMPPRO-MEDIUM";
    font-weight:500;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
  }
.screen-11__content {
    padding-left: 60px;
  }
  .screen-11__content__items{
      width: 25%;
      display: inline-block;
      min-height: 230px;
      padding-right: 30px;
      font-size: 0px;
  }

   .screen-11__content__items p{
      display: flex;
      background-color: rgba(255,255,255,0.2);
      border-radius: 5px 5px 0 0;
      justify-content:center;
      align-items: center;
      min-height: 145px;
      padding: 0px 20px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
  }
  .fade {
    opacity: 0.5;
  }
   .screen-11__content__items img{
     width: 100%;

     &:hover {
       opacity: 0.9; }
  }
  .yellow-button {
    font-weight: 500;
    padding: 15px 40px;
    font-size: 16px;
    background: linear-gradient(to bottom, #ffea77, #e1b901);
    border: 1px solid #e0cf79;
    color: #584a07;
    position: relative;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.71);
    border-radius: 1px;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        border-top: 5px solid #c6a404;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent; }
      &:hover {
        opacity: 0.9; }
  }
  /*modals*/
  .content_modal {
    display: none;
    position: relative;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    padding: 45px 50px 40px 50px;
    margin-left: 60px;
    margin-right: 30px;
    min-height: 360px;
  }
  .screen-11 .active {
    display: flex;
  }
  .modal_header {
    font-size: 39px;
    font-family: "PFDINTEXTCOMPPRO-MEDIUM";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;

    &-yellow{
      font-family: "PFDINTEXTCOMPPRO-MEDIUM";
      letter-spacing: 0.075em;
      font-size: 30px;
    }
  }

  .content_modal_items {
    letter-spacing: 0.0035em;
    line-height: 30px;
    padding: 30px 60px;
    font-size: 21px;
  }
 .screen-11 .yellow-button {
    font-size: 20.7px;
    padding: 17px 100px;
    margin-top: 25px;
    max-width: 430px;
  }
  .grey-button {
    padding: 16px 80px;
    background-color: rgba(86,89,89,1);
    font-size: 20.7px;
    letter-spacing: 0.025em;
    color: #fff;
  }
  .form-grey-button {
    position: absolute;
    padding: 15px 25px;
    right: 30px;
    bottom: 70px;
    max-width: 280px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fff;
    line-height: 25px;
    background-color: rgba(241,241,241,0.2);
    border: 1px solid #fff;
  }
  .content_modal form {
    margin:30px auto;
  }
  .modal_form {
    position: relative;
  }
  .modal_form_left-text,
    .modal_form_right-text{
      position:absolute;
      display: flex;
      align-items: center;
      top: 0;
      margin-top: 0;
      margin-bottom: 0;
      width: 300px;
      min-height: 70px;
  }
  .modal_form_left-text{
    right: 100%;
    margin-right: 20px;
    text-align: right;
    justify-content: flex-end;
    font-size: 19px;
    letter-spacing: 0.045em;
  }
  .modal_form_right-text{
    left: 97%;
    text-align: left;
    justify-content: flex-end;
    opacity: 0.46;
    font-size: 15px;
    letter-spacing: 0.045em;
  }
  .modal_form_field {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
  }
  .modal_form_field input {
    padding-left: 140px;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    border-radius: 5px;
    color: #000;
  }
  .modal_form_field button {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .modal_form_field_img {
    width: 15px;
    height: 15px;
    position:absolute;
    top:0;
    bottom:0;
    left:15px;
    margin: auto;
    pointer-events: none;
  }
  .modal_form_field_header {
    color:black;
    position:absolute;
    left:40px;
    top:0;
    line-height:70px;
    margin: auto;
    pointer-events: none;
  }
