
.container {
  padding: 0 115px 0 150px;
}

h1 {

}

h2 {
  font-family: 'PFDINTEXTCOMPPRO-REGULAR';
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}
h4 {
  font-family: 'PFDINTEXTCOMPPRO-MEDIUM';
  font-size: 30px;
  letter-spacing: 0.075em;
}
.screen-1, .screen-2, .screen-8, .screen-11, .screen-16  {
  padding-top: 140px;
}

.screen-2-content h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}
